/* styles.css */
.blue-heading {
    color: blue;
    font-size: 24px;
}

.custom-paragraph {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.container {
    background-image: "";
        background-size: cover;
    /* Adjust how the image covers the container */
    background-repeat: no-repeat;
    /* Prevent image from repeating */
    background-position: center center;
    /* Position the image in the center */
}