 h1 {
     font-size: xx-large;
     font-weight: 500;
     color: red;
     font-family: Cambria, Georgia, Times, serif;
 }

 h2 {
     text-align: center;
     margin-left: 15px;
     font-family: Cambria, Cochin, Georgia, Times, serif;
     font-style: normal;
     font-size: x-large;
     color: blue;
 }

 h3 {
     text-align: center;
     margin-left: 15px;
     font-family: Cambria, Cochin, Georgia, Times, serif;
     font-style: italic;
     font-size: large;
     color: orange;
 }

 h4 {
     text-align: center;
     margin-left: 15px;
     font-family: Cambria, Cochin, Georgia, Times, serif;
     font-style: italic;
     font-size: large;
     color: brown;
 }

 p {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-style: normal;
     color: black;
     text-align: justify;
     padding-left: 20px;
     padding-right: 10px;
     margin-left: 50px;
     margin-right: 50px;
 }

 .narrative {
    text-align: center;
    color: red;
 }

 .video-container {

     padding-left: 5px;
     display: flex;
     flex-wrap: wrap;
     gap: 5px;
 }

 .video {

     width: calc(25% - 20px);
     position: flex;
     columns: 2 4;
     /* Four videos in a row with 20px gap */
 }

 .video .narrative {
     padding-top: 5px;
     margin-top: 10px;
     text-align: center;
     white-space: 5px;
     font-size: 16px;
     font-style: italic;
     font-family: Georgia, Times, serif;
     color: black;
 }

 .img {
     padding-left: 45px;
     padding-right: 45px;
 }