h1 {
    margin-left: 25px;
    font-family: Cambria, Cochin, Georgia, Times, serif;
    font-style: italic;
    font-size: large;
    color: red;
}

h2 {
    margin-left: 25px;
    font-size: large;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

h3 {
    margin-left: 25px;
    font-size: large;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orange
}

h4 {
    margin-left: 25px;
    font-size: large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellow;
}

h5 {
    margin-left: 25px;
    font-size: large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cadetblue;
}

h6 {
    margin: left 25px;
    font-size: large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkorchid;
}

body {
    color: yellow
}

p {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    color: black;
    text-align: justify;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.video {
    position: flex;
    width: 100%;
}

.video-container {
    position: flex;
    width: 100%;
}